# 构建产物
.next/
out/
dist/
build/

# 依赖
node_modules/

# 声明文件
**/*.d.ts

# 自动生成的文件
public/

# 下一代配置
next.config.js
next-env.d.ts

# 测试配置和覆盖率报告
jest.config.js
coverage/

# 其他配置文件
*.config.js
.eslintrc.js

# 缓存
.cache/
.turbo/

# prisma生成的文件
apps/api/src/prisma/web3cv/
apps/api/src/prisma/web3jobs/

# 其他忽略文件
.gitignore
.prettierignore
.env* 