# Pinecone Config
PINECONE_API_KEY=
PINECONE_JOB_INDEX_NAME=
PINECONE_JOB_INDEX_HOST=
PINECONE_RESUME_INDEX_NAME=
PINECONE_RESUME_INDEX_HOSST=
PINECONE_NAMESPACE=

# Embedding config
EMBEDDING_API_KEY=
EMBEDDING_API_URL=
EMBEDDING_MODEL=
EMBEDDING_DIMENSIONS=

# Ai Service
OPENROUTER_API_KEY=

# Reids config
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# WEB3JOBS_DATABASE_URL
WEB3JOBS_DATABASE_URL=

# WEB3CV_DATABASE_URL
WEB3CV_DATABASE_URL=
